
Flask
flask-cors
flask-limiter
flask-login
flask-bcrypt
python-dotenv
nbconvert
weasyprint
python-docx
openpyxl
python-pptx
Pillow
img2pdf
PyPDF2
pypandoc
markdown2
pdfkit
reportlab
beautifulsoup4
pyyaml
